.map-wrapper {
    overflow: hidden;
}

.locate {
    position: absolute;
    top: 1rem;
    left: 2rem;
    background: none;
    border: none;
    z-index: 10;
    color: blue;
    cursor: pointer;
}

.locate img {
    width: 50px;
    height: 50px;
}
.locate:hover {
    color: blue;
}
