.home-map {
    position: relative;
}

.jumbotron {
    background-color: transparent;
}

.home-list {
    text-align: center;
}

.home-list ul {
    max-width: 300px;
}

.home-list ul li {
    margin-top: 10px;
}

.lead {
    font-size: 22px;
}
